.o{
    color: black;
}
.o:hover{
    color: red;
}

#botao{
    border: 0px solid white;
    background-color: transparent;
}

#botao:hover{
    color: red;
    text-decoration: underline;
}

#form{
    display: none;
}

.navbar-collapse.in {
    display: block !important;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.dark{
    background-color: black !important;
    color: white !important;
}
.darkI{
    color: white;
}

.darkI:hover{
    color: red;
}

.nav-link{
    color: black;
}

.btn:hover{
    color: black;
}

.darkHr{
    background-color: white;
    opacity: .75;
}