i{
    color: black;
}
i:hover{
    color: red;
}

#botao{
    border: 0px solid white;
    background-color: transparent;
}

#botao:hover{
    color: red;
    text-decoration: underline;
}

#form{
    display: none;
}